

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <link href="../../../layuiadmin/layui/css/layui.css" media="all" rel="stylesheet">
    <style>
        #error,#errorName{
            color: red;
        }
    </style>
</head>
<body>

<div class="layui-form" id="layuiadmin-app-form-list" lay-filter="layuiadmin-app-form-list" style="padding: 20px 30px 0 0;">
    <label id="error"></label>
    <div class="layui-form-item">
        <label class="layui-form-label">人员类型</label>
        <div class="layui-input-inline">
            <select lay-verify="required" name="type">
                <option value="">--请选择人员类型--</option>
                <option value="管理员">管理员</option>
                <option value="采购员">采购员</option>
                <option value="后勤处">后勤处</option>
                <option value="财务处">财务处</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-inline">
            <input autocomplete="off" class="layui-input" id="username" lay-verify="required" name="username" placeholder="请输入用户名" type="text">
            <label id="errorName"></label>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-inline">
            <input autocomplete="off" class="layui-input" lay-verify="required" name="password" placeholder="请输入密码" type="text">
        </div>
    </div>

    <div class="layui-form-item" lay-filter="component-form-element">
        <label class="layui-form-label">性别</label>
        <div class="layui-col-md12">
            <input name="sex" title="男" type="radio" value="男">
            <input checked name="sex" title="女" type="radio" value="女">
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">手机</label>
        <div class="layui-input-block">
            <input autocomplete="off" class="layui-input" lay-verify="phone" name="phone" placeholder="请输入" type="text">
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <input id="layuiadmin-app-form-submit" lay-filter="layuiadmin-app-form-submit-user" lay-submit type="button" value="确认添加">
        <input id="layuiadmin-app-form-edit" lay-filter="layuiadmin-app-form-edit" lay-submit type="button" value="确认编辑">
    </div>
</div>

<script src="../../../layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form'], function(){
        var $ = layui.$
            ,form = layui.form;
        var $ = layui.$;

        //监听提交
        form.on('submit(layuiadmin-app-form-submit-user)', function(data){
            var field = data.field; //获取提交的字段
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            //post提交，判断是否添加出错！
            $.post("/user/addUser",field,function (data){
                //controller返回boolean类型，用来判断是否添加错误！
                if (data){
                    //添加成功
                    parent.layui.table.reload('test-table-page',{}); //重载表格
                    parent.layer.close(index); //再执行关闭
                    parent.layer.msg("添加成功！")
                }else{
                    //添加错误
                    $("#error").html("添加用户失败！")
                }

            });
        });
        //判断是否存在用户
        $("#username").blur(function (){
            //当失去焦点时发送请求，判断数据库是否存在输入框中的值
            $.post("/user/findByNameBoolean",{"username":$(this).val()},function (data){
                //返回boolean类型
                if (!data){
                    //存在，提示错误信息
                    $("#errorName").html("该用户名已存在")
                }else{
                    //不存在提示信息为空
                    $("#errorName").html("")
                }
            })
        })
    })
</script>
</body>
</html>